/* background stuff */

.card{	background-color: #282a36;}
html.shaded {background-color: #282a36;}
.flex.sidebar+.flex.content{background-color: #282a36;}
.flex.sidebar {background-color: #282a36;}
body.shaded {background-color: #282a36;}
.toolbar-container {background-color:#282a36}
.search-box input{background-color:rgba(0,0,0,.2);border:1px solid rgba(255,255,255,.3)}
hr{background-color:rgba(0,0,0,.2)}
.page-list .page {border-left: 5px solid #8be9fd}
.page-list h5{border-left: 5px solid #8be9fd}


/* text stuff */
body{color: #f8f8f2;}
.text-page {color: #8be9fd;}
.text-book {color: #50fa7b;}
.text-chapter {color: #ffb86c;}
.text-primary, p.primary, p .primary, span.primary:hover, .text-primary:hover, a, a:hover, a:focus, .text-button, .text-button:hover, .text-button:focus {color: #f8f8f2;}
h1, h2, h3, h4, h5, h6 {color: #f8f8f2;}

/* border changes */
header {border-bottom: 0;}
.flex.sidebar+.flex.content {border-left: 0;}
.card h3{ border-bottom:0}
#sidebar .scroll-body.fixed{border-left: 1px solid #6272a4}
.fake-input, .input-base, input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], input[type=url], select, textarea{border:1px solid #44475a;color:#44475a}
.activity-list-item {border-bottom:1px solid rgba(0,0,0,.2)}
.page-list .chapter {border-left: 5px solid #ffb86c;

/* other changes */
code {color:#ff5555;background-color:#6272a4}
